.weaponimage, .caseimage, .collectionimage, .patternimage{
    width: 300px;
    height: 325px;
    border: 3px solid;
    border-color: #313638;
    border-radius: 10px;
    background-color: #313638;
    font-size: 35px;
    text-align: center;
    position: relative;
    margin: 1px;
}

.weaponimage p, .caseimage p, .collectionimage p, .patternimage p{
    position: relative;
    top: -30px;
    margin: 0;
    padding: 0;
}

.weaponimagehr, .caseimagehr, .collectionimagehr, .patternimagehr{
    height: 3px;
    background-color: rgb(129, 128, 128);
    border: none;
}

.weaponimage:hover, .caseimage:hover, .collectionimage:hover, .patternimage:hover{
    border-color: rgb(129, 128, 128);
}

.groupImageDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.defaultWeaponImages, .defaultWeaponImagesSkins, .defaultCaseImages, .defaultCollectionImages, .defaultCollectionImagesSkins, .defaultPatternImages, .defaultPatternImagesSkins{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 1em;
    row-gap: 1em;
}

.defaultWeaponImagesSkins, .defaultCollectionImagesSkins, .defaultPatternImagesSkins {
    display: none;
}

.rarity-box {
    position: relative;
    background-color: white;
    padding: 5px;
    font-size: 15px;
    border-top-right-radius: 10px;
    text-align: center;
}

.rarity-box.covert{
    background-color: red;
}

.rarity-box.classified {
    background-color: pink;
}

.rarity-box.restricted {
    background-color: purple;
}

.rarity-box.milspec {
    background-color: blue;
}

.rarity-box.Industrialgrade {
    background-color: lightblue;
}

.rarity-box.consumergrade {
    background-color: lightgray;
}